.compareTableSection {
    padding-inline: 1.2em;
}

.compareTitle {
    text-align: center;
    margin-block: 1.2em;
    cursor: pointer;
}

.dropdownArrow {
    vertical-align: middle;
    margin-left: 5px;
    color: #000;
}

.dropdownArrow.open {
    transform: rotate(180deg);
}