.motivosCarousel {
    padding-block: 3em 2em;
    padding-inline: 2em;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    background: linear-gradient(-45deg, #112641, #384d68, #298c7d, #48c1af);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    z-index: 0!important;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

.swiperContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiperContent div {
    max-width: 600px;
}

.swiperContent h3 {
    margin-bottom: 0.6em;
}

.motivosCarousel h2 > span {
    display: block;
}

.motivosCarousel h2 {
    margin-bottom: 1em;
}

.swiperContent img {
    max-width: 150px;
}

.spacingNavigation {
    height: 3em;
}

@media (min-width: 768px) {
    .motivosCarousel h2 {
        font-size: 3em;
    }
    .swiperContent h3 {
        font-size: 1.5em;
    }
    .swiperContent  {
        font-size: 20px;
    }
}