#packagesDrop {
    margin-top: 5em;
}

.slidesPackagesDrop > div {
    position: relative;
}


#packagesDrop .titlePackagesDrop {
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 1.5rem;
}

#packagesDrop .swiper-pagination {
    max-width: max-content;
    background: #effbf7;
    padding: 0.8em;
    border-radius: 50px;
    border: 2px solid #73ecd4;
}

#packagesDrop .swiper-pagination-bullet {
    width: 0px!important;
    height: 0px!important;
    opacity: 1;
}
  
#packagesDrop .swiper-pagination-bullet.swiper-pagination-bullet-active .inner-span {
    background-color: #77fac5;
    padding: 0.75em 2.2em 0.8em;
    border-radius: 50px;
}

#packagesDrop .inner-span {
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: bold!important;
    transition: 300ms background ease;
}

@media (min-width: 768px) {
    #packagesDrop .swiper-pagination-bullet {
        width: 200px!important;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    #packagesDrop .swiper-pagination-bullet {
        width: 170px!important;
    }
    #packagesDrop .swiper-pagination-bullet.swiper-pagination-bullet-active .inner-span {
        padding: 0.8em 1.2em;
    }
}

@media (max-width: 576px) {
    #packagesDrop .swiper-pagination-bullet {
        width: 140px!important;
    }
    #packagesDrop .swiper-pagination-bullet.swiper-pagination-bullet-active .inner-span {
        padding: 0.8em 1.2em;
    }
}

@media (max-width: 480px) {
    #packagesDrop .swiper-pagination {
        padding: 0.6em 0.4em;
    }
    #packagesDrop .inner-span {
        text-wrap: nowrap!important;
        font-size: 13px;
        font-weight: bold!important;
    }
    #packagesDrop .swiper-pagination-bullet {
        width: 115px!important;
    }
    #packagesDrop .swiper-pagination-bullet.swiper-pagination-bullet-active .inner-span {
        padding: 0.9em 0.5em 0.7em;
    }
}

@media (max-width: 385px) {
    #packagesDrop .swiper-pagination {
        padding: 0.6em 0.4em;
    }
    #packagesDrop .inner-span {
        text-wrap: nowrap;
        font-size: 11px;
        font-weight: bold!important;
    }
    #packagesDrop .swiper-pagination-bullet {
        width: 90px!important;
    }
    #packagesDrop .swiper-pagination-bullet.swiper-pagination-bullet-active .inner-span {
        padding: 1em 1em 0.8em;
    }
}

#packagesDrop .swiper-pagination {
    top: 25px!important;
    bottom: auto!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
    #packagesDrop {
        margin-top: 2em;
    }
    #packagesDrop .titlePackagesDrop {
        font-size: 1.5rem;
        padding-bottom: 0.5em;
    }
}
