.topTitleSectionHome {
    background-image: url('../../assets/images/backgroundleft-circle-green.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}