.bgHeader {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

.imageBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.contentHeader {
    padding: 5px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.titleHeader p,
.titleHeader h2 {
    color: #FFFFFF;
    word-wrap: break-word;
}

.titleHeader h2 {
    font-size: 2.5rem;
    word-wrap: normal;
    line-height: 1.2;
    margin-bottom: 20px;
}

.titleHeader p {
    font-size: 22px;
    line-height: 1.4;
}

.titleHeader {
    margin-bottom: 50px;
    height: 50%;
}

.headerContact {
    margin: 0 auto;
}

.btnHeaderContact {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 50%;
    gap: 20px;
}

.btnHeaderContact img {
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.btnHeaderContact p:first-child {
    color: white;
}

.btnHeaderContact p:last-child {
    color: #298c7d;
    text-decoration: underline;
}

.btnHeaderContact p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 20px;
    text-wrap: nowrap;
}

@media (max-width: 385px) {
    .btnHeaderContact {
        gap: 10px;
    }

    .btnHeaderContact img {
        max-width: 75px;
        border-radius: 50%;
        border: 2px solid #FFF;
    }

    .btnHeaderContact p {
        padding: 0px;
        margin: 0px;
        font-weight: bold;
        font-size: 18px;
        text-wrap: nowrap;
    }

    .titleHeader h2 {
        font-size: 2.3rem;
    }
}

@media screen and (min-width: 992px) {
    .titleHeader h2 {
        font-size: 5rem!important;
        line-height: 1.2;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .titleHeader h2 {
        font-size: 5rem!important;
        line-height: 1.3;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .titleHeader h2 {
        font-size: 4rem!important;
        line-height: 1.3!important;
    }
}

@media (min-width: 768px) {
    .bgHeader {
        height: 100vh!important;
    }
}

@media (max-height: 500px) {
    .titleHeader {
        height: 35%;
    }
    .titleHeader h2 {
        font-size: 2rem!important;
        margin-bottom: 10px;
    }
    .titleHeader p {
        font-size: 20px;
        line-height: 1.2;
    }
    .btnHeaderContact {
        height: 80%;
    }
    .bgHeader {
        height: 100vh!important;
    }
}

@media (min-width: 1200px) {
    .titleHeader {
        padding-left: 2em;
    }
}

#home .titleHeader {
    text-align: center!important;
}