.parceirosHomeCarousel {
    padding-block: 1.5em 3em;
    max-width: 1200px;
    padding-inline: 2em;
    position: relative;
    margin: 0 auto;
    z-index: -1!important;
}

.swiperContent img {
    max-width: 150px;
}
