:root {
    --title-color: #383838;
    --content-color: #5a5a5a;
    --destaque-color: #000000;
}

.containerMainCta {
    margin: 0 auto 4em!important;
    background: linear-gradient(46.87deg, rgb(208, 253, 239) 0%, rgb(225, 250, 252) 96.94%);
}

.containerMainCta h1, .containerMainCta h2 {
    font-size: 2.2em;
    color: var(--title-color);
}

.containerMainCta h3, .containerMainCta h4, .containerMainCta h5, .containerMainCta h6 {
    font-size: 1.5em;
    color: var(--title-color);
}

.containerMainCta a {
    text-decoration: none;
    color: inherit;
}

.containerMainCta p {
    font-size: 19px;
    line-height: 1.5;
    color: var(--content-color);
}

.containerMainCta span svg {
    vertical-align: middle;
}

.containerMainCta img:not(.sectionSeparatorGreen > img) {
    width: 100%!important;
}

.mainCtaDestaque {
    color: #000!important;
    width: max-content;
    padding: 4px 6px;
    display: block;
}

.mainCtaDestaque2 {
    display: inline!important;
    margin-left: 8px;
}

.mainCtaDestaque2,
.mainCtaDestaque3 {
    color: #000!important;
}

.gridTwoColumnInfoTitle {
    line-height: 1.1;
}

.gridTwoColumnInfoTitle span {
    font-weight: 800!important;
}

.gridTwoColumnInfoTitle span.primaryDestaqueText {
    color: #0c6658;
}

.underlineText {
    text-decoration: underline;
}

p span.destaqueText {
    font-size: 21px;
}

.sectionSeparatorGreen {
    display: flex;
    justify-content: center;
    position: relative;
}

.sectionSeparatorGreen img {
    position: absolute;
    top: 15px;
    width: 80px!important;
}


.containerChild {
    padding: 1em 1.5em;
    width: 100%;
}

.vantagens {
    margin-block: 1em;
}

span.iconAdd {
    color: #298c7c;
}

span.iconFire svg {
    margin-top: -6px;
}

.containerChild:not(.faqSection) {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 25px 20px -20px;
}

.containerChild > div {
    max-width: 1190px;
}

.containerChild:not(:first-child) > div {
    padding-top: 3em;
}

.child {
    margin: auto;
}

.gridTwoColumns {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

@media (max-width: 992px) {
    .gridTwoColumns {
        grid-template-columns: 1fr;
    }
    .mainCtaDestaque {
        margin: auto;
    }
}
.gridTwoColumnsChild {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    justify-self: center;
}


/* Section 1 */
.child1 div:first-child .logo img {
    max-width: 150px;
}

.child1 .gridTwoColumnInfoCta {
    margin-block: 1em 2em;
    font-weight: bold!important;
    color: #15907d;
}


.child1 .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
}

.child1 .logo .especialistasBtn a {
    background-color: #15907d;
    color: #FFF;
    font-weight: bold!important;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}

.ctaBtn {
    width: max-content;
    margin-top: 2em;
    padding-top: 1em;
    color: #FFF;
}

.ctaBtn a {
    background: #000;
    padding: 15px 60px;
    font-size: 22px;
}

.ctaBtn a span p {
    display: inline;
    color: white!important;
}
.ctaBtn a span:first-child {
    font-size: 10px;
}

.ctaBtn a span:last-child {
    font-size: 15px;
}

.ctaBtn > p {
    text-align: center;
    margin-block: 1.5em 1em;
    font-size: 14px;
    margin-left: -10px;
}

/* Media Queries */
@media (min-width: 768px) {
    .containerMainCta h1, .containerMainCta h2 {
        max-width: 700px;
    }
    .containerMainCta h3, .containerMainCta h4, .containerMainCta h5, .containerMainCta h6 {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .child1 div:first-child .logo img {
        max-width: 80px!important;
    }
}

@media (max-width: 992px) {
    .containerMainCta h1, .containerMainCta h2 {
        font-size: 2.2em;
        padding-bottom: 0.6em;
    }
    .containerMainCta h3, .containerMainCta h4, .containerMainCta h5, .containerMainCta h6 {
        font-size: 1.2em;
    }
    .containerMainCta p {
        font-size: 16px!important;
    }

    .sectionSeparatorGreen img {
        width: 70px!important;
    }

    .vantagens {
        max-width: max-content;
        margin: auto;
    }
    
    .vantagens p {
        text-align: start;
    }

    /* Section 1 */
    .child1 .logo img {
        width: 100px;
    }

    .child1 h1 {
        margin: auto;
    }

    .child1 .gridTwoColumnsChild:first-child {
        text-align: center;
    }

    /* CTA btn */
    .ctaBtn {
        width: 100%!important;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .gridTwoColumnInfoTitle {
        font-size: 3.2em!important;
    }
    .gridTwoColumnImage img {
        margin-top: 4em;
    }
    .primaryDestaqueText {
        text-wrap: nowrap;
    }
}

@media (max-width: 576px) {
    .containerMainCta h1, .containerMainCta h2 {
        font-size: 2.4em;
        padding-bottom: 0.6em;
    }
    .child1 .logo .especialistasBtn a {
        background-color: #15907d;
        color: #FFF;
        font-weight: bold!important;
        font-size: 14px;
        text-decoration: none;
        padding: 8px 15px;
        border-radius: 5px;
    }
}