.btnContent,
.btnIcon {
    vertical-align: middle;
}

.btnIcon {
    padding-inline: 1em;
}

.btnIcon svg {
    vertical-align: middle;
}

.arrowContainer .btnIcon {
    transition: margin-left 0.3s ease; /* Adiciona uma transição suave para a animação */
}
  
.arrowContainer:hover .btnIcon {
    margin-left: 8px;
}
  