.reviewScript {
    margin-block: 4em;
}
.reviewScript h1 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1.5em;
}
.fBHjnG {
    flex: inherit;
}
.WidgetTitle__Header-sc-ruy1gu-2.iFEZzR {
    display: none;
}
.HeaderWriteReviewButton__Component-sc-aghmpr-0.hYjZwu.Header__StyledHeaderWriteReviewButton-sc-gozq6j-4.jeuPze {
    display: none;
}
.gGgqlY {
    border-radius: 8px;
    justify-content: center;
}