@font-face {
  font-family: 'Heebo';
  src: url('./assets/fonts/Heebo/Heebo-Regular.ttf');
}
* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}
*:focus,*:visited,*:active{
  outline: none!important;
  -webkit-tap-highlight-color: transparent!important;
}
body {
  font-family: 'Heebo', sans-serif!important;
}

ul {
  list-style: none!important;
  padding-left: 0!important;
}

a {
  text-decoration: none!important;
}
