@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
}
:root {
  iframe#webpack-dev-server-client-overlay {
       display: none!important
  }
}
.hide-resize-observer {
  display: none !important;
}
* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}
*:focus,*:visited,*:active{
  outline: none!important;
  -webkit-tap-highlight-color: transparent!important;
}
body {
  font-family: 'LatoRegular', sans-serif!important;
  box-sizing: border-box!important;
}

ul {
  list-style: none!important;
  padding-left: 0!important;
}

a {
  text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LatoBold', sans-serif!important;
}

p, span {
  font-weight: 300!important;
}

.Carousel__CarouselInner-sc-f2ox7y-2 {
  pointer-events: none!important;
}

.ReviewInfo__InfoContainer-sc-q3e1v-6 {
  display: none!important;
}