@font-face {
  font-family: 'LatoRegular';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: 'LatoBold';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
}
* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}
*:focus,*:visited,*:active{
  outline: none!important;
  -webkit-tap-highlight-color: transparent!important;
}
body {
  font-family: 'LatoRegular', sans-serif!important;
}

ul {
  list-style: none!important;
  padding-left: 0!important;
}

a {
  text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'LatoBold', sans-serif!important;
}
